<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.11.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<context:annotation-config />
	<context:component-scan base-package="servicio,daos" />	
	<jee:jndi-lookup jndi-name="reflibreria" id="dsServidor"/>
	
	<!-- Configuracion spring data jpa -->
	<jpa:repositories base-package="spdatajpa" transaction-manager-ref="txManager" entity-manager-factory-ref="factoria"></jpa:repositories>
	
<!-- Configuración integración Spring-JPA-Hibernate -->
	<!-- Creación adaptador JPA-Hibernate -->
	<bean id="adaptador"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="databasePlatform"
			value="org.hibernate.dialect.MySQLDialect">
		</property>
	</bean>
	
	<!-- configuración JPA -->
	<bean id="factoria"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="librosUP"></property>
		<property name="dataSource" ref="dsServidor"></property>
		<property name="jpaVendorAdapter" ref="adaptador"></property>
		<property name="packagesToScan" value="model"></property>
		<property name="jpaProperties">
        <props>
            <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
        </props>
    	</property>
	</bean>	
	
	<!--  Transaccionalidad -->
	<bean id="txManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="factoria"></property>
	</bean>
	<tx:annotation-driven transaction-manager="txManager"/>			
</beans>